<h1>Search Results</h1>

<% @results.each do |station| %>
<ul>
  <%= station.station_name %>
  <%= station.state %>
  <%= station.street_address %>
  <%= station.zip %>
  <%= station.fuel_type_code %>
  <%= station.radius %>

</ul>
<% end %>
